<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>


<p>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', user_pages_show_path(:user_id => @post.user_id) %>
